{% extends "layout.html" %}

{% block content %}
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Getting Started with Digital Ocean</h1>
      <p>Deploy, manage, and scale cloud applications faster and more efficiently on DigitalOcean. We make managing infrastructure easy for teams and businesses, whether you’re running one virtual machine or ten thousand. Our optimized configuration process saves your team time when running and scaling distributed applications, AI & machine learning workloads, hosted services, client websites, or CI/CD environments.</p>
      <a type="button" class="btn btn-lg btn-default" href="https://www.digitalocean.com/"><span class="glyphicon glyphicon-flash"></span> Getting Started with Digital Ocean</a>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/digitalocean/"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
    </div>
  </div>

   <div class="col-md-6 ">
     <table class="table table-dark">
       <thead>
       <tr>
         <th scope="col">#</th>
         <th scope="col">Firstname</th>
         <th scope="col">Lastname</th>
         <th scope="col">Handle</th>
         <th scope="col">Email</th>
         <th scope="col">Gender</th>
       </tr>
       </thead>
       <tbody>
       <tr>
         <th scope="row">1</th>
         <td>Mark</td>
         <td>Otto</td>
         <td>@mdo</td>
         <td>markotto123@gmail.com</td>
         <td>Male</td>
       </tr>
       <tr>
         <th scope="row">2</th>
         <td>Jacob</td>
         <td>Thornton</td>
         <td>@fat</td>
         <td>jacob_tho@yahoo.com</td>
         <td>Male</td>
       </tr>
       <tr>
         <th scope="row">3</th>
         <td>Larry</td>
         <td>the Bird</td>
         <td>@larry23</td>
         <td>larry.234@sifi.net</td>
         <td>Female</td>
       </tr>
       <tr>
         <th scope="row">4</th>
         <td>Raja</td>
         <td>Ram</td>
         <td>@ram23</td>
         <td>ram_dirt@hotmail.net</td>
         <td>Male</td>
       </tr>
       <tr>
         <th scope="row">5</th>
         <td>melissa</td>
         <td>Hanigan</td>
         <td>@mel</td>
         <td>mellow@rediff.net</td>
         <td>Female</td>
       </tr>
       <tr>
         <th scope="row">6</th>
         <td>John</td>
         <td>Doe</td>
         <td>@jdforever</td>
         <td>jmanhere@gmail</td>
         <td>Male</td>
       </tr>
       </tbody>
     </table>
     <div class="jumbotron text-center">
       <div class="container">
          <h2>Digital Ocean with Docker</h2>
          <p>Containerization is the process of distributing and deploying applications in a portable and predictable way. It accomplishes this by packaging components and their dependencies into standardized, isolated, lightweight process environments called containers.  Many organizations are now interested in designing applications and services that can be easily deployed to distributed systems, allowing the system to scale easily and survive machine and application failures.  Docker, a containerization platform developed to simplify and standardize deployment in various environments, was largely instrumental in spurring the adoption of this style of service design and management.  A large amount of software has been created to build on this ecosystem of distributed container management.</p>
          <h2>More About Docker Containers</h2>
          <p>Docker is the most common containerization software in use today. While other containerizing systems exist, Docker makes container creation and management simple and integrates with many open source projects.Containers isolate individual applications and use operating system resources that have been abstracted by Docker. In the exploded view on the right, we can see that containers can be built by "layering", with multiple containers sharing underlying layers, decreasing resource usage.</p>
       </div>
     </div>>
   </div>
    
{% endblock %}
