{% extends "layout.html" %}

{% block content %}
  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/images/lang-logo.png">
      </a>
      <h1>Getting Started with Digital Ocean</h1>
      <p>Deploy, manage, and scale cloud applications faster and more efficiently on DigitalOcean. We make managing infrastructure easy for teams and businesses, whether you’re running one virtual machine or ten thousand. Our optimized configuration process saves your team time when running and scaling distributed applications, AI & machine learning workloads, hosted services, client websites, or CI/CD environments.</p>
    </div>
  </div>

{% endblock %}
