<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home </a>
      </li>
      <li>
        <a href="https://www.digitalocean.com/community/questions/plans-and-how-it-all-works"><span class="glyphicon glyphicon-user"></span> How Digital Ocean Works</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://www.digitalocean.com/community/tutorials/how-to-use-the-ruby-on-rails-one-click-application-on-digitalocean">Getting Started with Ruby on Rails on Digital Ocean</a></li>
            <li><a href="https://www.digitalocean.com/community/tutorials/how-to-set-up-a-node-js-application-for-production-on-ubuntu-16-04">Getting Started with Node on Digital Ocean</a></li>
            <li><a href="https://www.digitalocean.com/community/tags/php?type=tutorials">Getting Started with PHP on Digital Ocean</a></li>
            <li><a href="https://www.digitalocean.com/community/tags/python?type=tutorials">Getting Started with Python on Digital Ocean</a></li>
            <li><a href="https://www.digitalocean.com/community/tags/java?type=tutorials">Getting Started with Java on Digital Ocean</a></li>
            <li class="divider"></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://developers.digitalocean.com/documentation/"><span class="glyphicon glyphicon-book"></span> Digital Ocean Dev Center</a>
      </li>
    </ul>
  </div>
</nav>
